@import 'tailwindcss';
@import 'tailwindcss/utilities'; /* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #1483f9;
	--color-primary-light: #5ca2ed;
	--color-borderdefault: #096ab5;
	--color-danger-red: #f21111;
	--color-success-green: rgb(0, 204, 27);
	--color-text-main: #222227;
	--color-placeholder: #828282;
}

*,
body {
	@apply box-border;
}

main {
	@apply h-full overflow-y-auto p-4;
}

h1 {
	@apply mt-8 mb-4 text-4xl font-bold;
}

h2 {
	@apply my-2 text-2xl font-medium;
}

h3 {
	@apply mb-2 text-lg font-normal;
}

h4 {
	@apply mb-2;
}

p {
	color: var(--color-text-main);
}

a {
	@apply text-primary underline;
}

table a {
	@apply inline-block w-full text-text-main no-underline;
}

table td {
	@apply w-max px-1 py-2;
}

button,
.button-like {
	font-family: sans-serif;
	@apply cursor-pointer rounded-sm bg-linear-90 from-primary-light to-primary px-8 py-2 text-center text-sm font-bold tracking-wider text-white uppercase;
}

button:disabled,
.button-like.disabled-like {
	@apply opacity-25;
}

.iconify {
	@apply text-3xl;
}

label {
	@apply mb-1 block;
}

select,
input[type='text'],
input[type='search'],
input[type='password'] {
	@apply w-full rounded-md border-2 border-solid border-borderdefault p-1.5 font-semibold text-[#464646] md:w-64;
}

input:disabled {
	@apply bg-gray-200;
}

.input-group {
	@apply w-full;
}

.input-container {
	@apply w-full rounded-md bg-blue-50 font-semibold text-[#464646] md:w-128;
}

.input-container input {
	@apply flex-1 border-none outline-none;
}

.status-message {
	@apply flex w-full max-w-screen items-center gap-4 rounded-md p-2 drop-shadow-md md:w-max;
}

.status-message p {
	@apply font-bold text-white;
}
